@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
:root {
    --primary-color: #2c2c2c;
    --button-color: #000000;
    --button-hover-color: #2c2c2c;
    --button-text-color: #ffffff;
    --font-color: #2c2c2c;
    --bg-color: #ffffff;
    --light-font-color: #929DAD;
    --gradient: linear-gradient(346.52deg, #EC1DFC 13.51%, #72ACFD 88.76%);
}

[data-theme="dark"] {
    --primary-color: #f0f0f0;
    --button-color: #ffffff;
    --button-text-color: #000000;
    --button-hover-color: #e1e1e1;
    --font-color: #f0f0f0;
    --bg-color: #2c2c2c;
    --light-font-color: #A7A7A7;
    --gradient: linear-gradient(346.52deg, #FFFFFF 13.51%, #72ACFD 88.76%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    transition: background-color .3s ease, color .3s ease;
    background-color: var(--bg-color);
    color: var(--font-color);
}

.css-blurry-gradient {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 800px;
    height: 800px;
    border-radius: 50% 22% 40% 80%;  
    filter: blur(100px);
    background: radial-gradient(circle at 50% 50%,rgba(251, 134, 255, 1), rgba(76, 0, 255, .1));
    opacity: 0.3;
}

.join_btn {
    text-decoration: none;
}

#dark svg {
    width: 24px;
}

  //////////////////////
 // START NAV STYLES //
//////////////////////

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 10vh;
    z-index: 3;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15%;
    background-color: var(--bg-color);
}

.logo {
    background-color: #2c2c2c;
    display: flex;
    align-items: center;
    padding: 2px 16px 2px 20px;
    border-radius: 20px;
}

.logo img {
    width: 76px;
}

.nav_links {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a:hover {
    color: var(--button-color);
}

.nav_links li a {
    text-decoration: none;
    color: var(--font-color);
    transition: color .3s ease;
}

.nav_links li svg {
    cursor: pointer;
}

.nav_links li svg path {
    stroke: var(--font-color);
    transition: stroke .3s ease;
}

.nav_links li svg:hover path {
    stroke: var(--button-color);
}

  ////////////////////
 // END NAV STYLES //
////////////////////


  ///////////////////////
 // START HERO STYLES //
///////////////////////

#home {
    margin-top: 20vh;
    justify-content: center;
    padding: 30px 15%;
    display: flex;
    flex-direction: column;
}

.hero_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 150px;
}

.overview {
    font-size: 20px;
    font-weight: 600;
    max-width: 750px;
    line-height: 150%;
    text-align: center;
    align-self: center;
}

.overview svg path {
    fill: var(--font-color);
    transition: fill .3s ease;
}

.hero_wrapper img {
    width: 100%;
    max-width: 624px;
    height: auto;
    border-radius: 15px;
    box-shadow: 6px 6px 6px 2px rgba(0, 0, 0, .25);
}

.CTA_wrapper {
    max-width: 328px;
}

.CTA_wrapper h3 {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: .04em;
    margin-bottom: -15px;
}

.CTA_wrapper h1 {
    font-size: 78px;
    letter-spacing: .02em;
}

.CTA_wrapper p {
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
}

.btn_wrapper button {
    border: none;
    cursor: pointer;
    padding: .7em 3.5em;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    color: var(--bg-color);
    transition: background-color .3s ease, color .3s ease; 
}

.btn_wrapper button:hover {
    background-color: var(--button-hover-color);
}

.btn_wrapper button svg {
    margin-right: .5em;
}

.btn_wrapper button svg path {
    stroke: var(--bg-color);
    transition: stroke .3s ease;
}

.btn_wrapper {
    margin: 20px 0px;
    width: fit-content;
}

.btn_wrapper p {
    color: var(--light-font-color);
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

  /////////////////////
 // END HERO STYLES //
/////////////////////


  //////////////////////////
 // START FEATURE STYLES //
//////////////////////////

#features {
    padding: 125px 15% 0px 15%;
}

#features h1 {
    font-size: 28px;
    font-weight: 700px;
    line-height: 34px;
}

.feature_container p {
    max-width: 505px;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: .05em;
    padding-top: 1em;
}

.feature_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 250px;
}

.svg_one svg {
    width: 466px;
    height: 379px;
}

.svg_two svg {
    width: 544px;
    height: 376px;
}

// .feature_wrapper svg:first-of-type(2) {
//     max-width: 544px;
// }

.feature_title {
    text-align: center;
}

.and_more_title {
    margin-top: 250px;
}

  ////////////////////////
 // END FEATURE STYLES //
////////////////////////


  ///////////////////////
 // START CARD STYLES //
///////////////////////

.cards_wrapper {
    display: flex;
    justify-content: space-between;
}

.card_container {
    width: 313px;
}

.card_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background: var(--gradient);
}

.card_icon svg path {
    fill: var(--bg-color);
}

.card_img {
    height: 107px;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 6px 0px 6px 1px rgba(0, 0, 0, 0.1);
}

.card_img img {
    width: 313px;
}

.card_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 313px;
    padding: 50px 0px 80px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    // TODO: Change background color transparent
    background-color: rgba(255, 255, 255, .4);
    box-shadow: 6px 6px 6px 1px rgba(0, 0, 0, 0.1);
}

.card_body h1 {
    padding-bottom: 25px;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
}

.card_body p {
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
}

  /////////////////////
 // END CARD STYLES //
/////////////////////

  //////////////////////////
 // START PARTNER STYLES //
//////////////////////////

#partners {
    padding: 200px 15% 0px 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#partners h1 {
    padding-bottom: 80px;
    font-size: 28px;
    font-weight: 700px;
    line-height: 34px;
}

#partners img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#partners p {
    font-size: 16px;
    font-weight: 400;
    line-height: 135%;
    padding-left: 20px;
}

.partner_wrapper {
    display: flex;
}

.partner_card {
    display: flex;
    align-items: center;
    max-width: 500px;
    padding: 12px;
    margin: 20px;
    // TODO: Change color to transparent white
    background-color: rgba(255, 255, 255, .4);
    border-radius: 15px;
    box-shadow: 6px 6px 6px 1px rgba(0, 0, 0, 0.1);
}

  ////////////////////////
 // END PARTNER STYLES //
////////////////////////

  //////////////////////////
 // START PRICING STYLES //
//////////////////////////

#pricing {
    padding: 200px 15% 0px 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing_title {
    padding-bottom: 80px;
    font-size: 28px;
    font-weight: 700px;
    line-height: 34px;
}

.pricing_wrapper {
    background-color: rgba(255, 255, 255, .3);
    border-radius: 15px;
    box-shadow: 6px 6px 6px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 75px 35px 50px;
    align-items: center;
}

.pricing_wrapper h1 {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 25px;
}

.price_container p {
    text-align: center;
    padding-bottom: 20px;
    font-size: 16px;
}

.price_container h1 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 0px;
}

.feature_breakdown_container {
    padding-bottom: 50px;
}

.feature_item {
    display: flex;
    padding-top: 30px;
    align-items: center;
}

.feature_item p {
    padding-left: .5em;
    font-size: 18px;
}

.feature_item svg path {
    stroke: var(--font-color);
    transition: stroke .3s ease;
}

.pricing_wrapper button {
    border: none;
    cursor: pointer;
    padding: .7em 3.5em;
    border-radius: 10px;
    font-size: 20px;
    background-color: var(--button-color);
    color: var(--bg-color);
    transition: background-color .3s ease, color .3s ease;
}

.pricing_wrapper button:hover {
    background-color: var(--button-hover-color);
}

  ////////////////////////
 // END PRICING STYLES //
////////////////////////


  /////////////////////////
 // START FOOTER STYLES //
/////////////////////////

footer {
    display: flex;
    justify-content: space-between;
    padding: 150px 15% 20px 15%;
    align-items: center;
}

.copy {
    font-size: 14px;
    color: var(--light-font-color);
}

.copy a {
    padding-left: 8px;
    color: var(--light-font-color);
    transition: color .3s ease;
}

.copy a:hover {
    color: var(--font-color);
}

.socials a {
    text-decoration: none;
    padding-left: 20px;
}

.socials a svg path {
    fill: var(--light-font-color);
    transition: fill .3s ease;
}

.socials a:hover svg path {
    fill: var(--font-color)
}

  ///////////////////////
 // END FOOTER STYLES //
///////////////////////


  ////////////////////////
 // START MEDIA STYLES //
////////////////////////

@media screen and (max-width: 1400px) {
    // START HERO STYLES
    #home {
        height: auto;
        padding: 0px 15%;
    }

    .hero_wrapper {
        flex-direction: column;
        padding-bottom: 50px;
    }

    .btn_wrapper button {
        padding: .7em 2.5em;
    }

    .pricing_wrapper button {
        padding: .7em 1.7em;
    }

    .CTA_wrapper {
        margin-bottom: 100px;
    }

    #features {
        padding: 200px 15% 0px 15%
    }

    .feature_wrapper:nth-of-type(1) {
        margin-top: 150px;
        flex-direction: column-reverse;
    }

    .feature_wrapper:nth-of-type(2) {
        margin-top: 150px;
        flex-direction: column;
    }

    .feature_container {
        margin: 30px;
    }

    .cards_wrapper {
        flex-direction: column;
        align-items: center;
    }

    .card_icon {
        top: 70px
    }

    .partner_wrapper {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

    .socials {
        padding-top: 20px;
    }
}

@media screen and (max-width: 750px) {
    .partner_card {
        flex-direction: column;
    }

    .partner_card img {
        margin-top: 10px;
    }
    
    .partner_card p {
        padding: 20px 10px 10px 10px;
    }

    .nav_links li:nth-child(-n+3) {
        display: none;
    }

    .svg_one svg {
        width: 250px;
        height: auto;
    }
    
    .svg_two svg {
        width: 275px;
        height: auto;
    }
}

  ////////////////////////
 // START MEDIA STYLES //
////////////////////////

  ////////////////////////////
 // START ANIMATION STYLES //
////////////////////////////

.fadeInSection {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 1200ms ease-out, transform 600ms ease-out, visibility 1200ms ease-out;
    will-change: opacity, transform, visibility;
}

.fadeInSection.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

  //////////////////////////
 // END ANIMATION STYLES //
//////////////////////////
